<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label>
    Title:
    <input type=" text" formControlName="title">   
  </label>

  <div *ngIf="profileForm.controls.title.invalid && (profileForm.controls.title.dirty || profileForm.controls.title.touched)" class="alert alert-danger">
    <div *ngIf="profileForm.controls.title.errors.required">
      Title is required.
    </div>
    <div *ngIf="profileForm.controls.title.errors.minlength">
      Title must be at least 5 characters long.
    </div>
  </div>

  <label>
    Description:
    <input type="text" formControlName="description">
  </label>

  <div *ngIf="profileForm.controls.description.invalid && (profileForm.controls.description.dirty || profileForm.controls.description.touched)" class="alert alert-danger">
    <div *ngIf="profileForm.controls.description.errors.required">
      Description is required.
    </div>
    <div *ngIf="profileForm.controls.description.errors.minlength">
      Description must be at least 10 characters long.
    </div>
  </div>

  <label>
    User Id:
    <input type="text" formControlName="userId">
  </label>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

  <div *ngIf="profileForm.controls.userId.invalid && (profileForm.controls.userId.dirty || profileForm.controls.userId.touched)" class="alert alert-danger">
    <div *ngIf="profileForm.controls.userId.errors.required">
      User Id is required.
    </div>
    <div *ngIf="profileForm.controls.userId.errors.pattern">
      User Id must be a numer.
    </div>
  </div>
</form>
